/* Kontener grupujący okładkę oraz przycisk DLC */

.album-cover-container {
    position: relative;
    display: inline-block;
    margin: 0 auto 15px auto;
}


/* Przycisk DLC w lewym górnym rogu */

.album-dlc-btn {
    position: absolute;
    top: 16px;
    left: 8px;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    /* Płynne wejście/wyjście hovera */
    transition: transform 0.2s ease, filter 0.2s ease;
}

.album-dlc-btn:hover {
    opacity: 1;
    transform: scale(1.15);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}


/* Obrazek ikony DLC (wzorowany na Zoopedii)[cite: 8] */

.album-dlc-btn img {
    width: 68px;
    height: auto;
    display: block;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}


/* Efekt po najechaniu myszką */

.album-dlc-btn:hover {
    transform: scale(1.1) rotate(-3deg);
    filter: brightness(1.1);
}


/* Pomocnicza klasa ukrywania */

.album-dlc-btn.hidden {
    display: none !important;
}


/* ================= KOLORYSTKA DLA DELUXE PZ1 ================= */

.music-box.pz-deluxe #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-deluxe, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-deluxe .album-title,
[data-game-version="pz2"] .music-box.pz-deluxe .version-modal-close,
[data-game-version="pz2"] .music-box.pz-deluxe .track-info,
[data-game-version="pz2"] .music-box.pz-deluxe .tekst,
[data-game-version="pz2"] .music-box.pz-deluxe #albums-panel,
[data-game-version="pz2"] .music-box.pz-deluxe #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-deluxe {
    background: #093c2b !important;
}

.music-box.pz-deluxe .overlay-panel {
    background: #0b6146;
}

.music-box.pz-deluxe .overlay-panel ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(4px);
}

.music-box.pz-deluxe #album-list li.active,
.music-box.pz-deluxe #track-list li.active .author,
.music-box.pz-deluxe #track-list li.active .duration {
    color: rgb(211, 224, 92);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-deluxe #track-list li.active .title {
    color: rgb(211, 224, 92);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-deluxe #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #0b7957 0%, #0a6f4f 50%, #0a6f4f 50%, #08553d 100%);
}

.music-box.pz-deluxe #progress::-moz-range-track {
    background: #177286;
}

.music-box.pz-deluxe #progress::-moz-range-progress {
    background-color: #23b6d3;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-deluxe #track-list li.active,
.music-box.pz-deluxe #album-list li.active {
    background: #109068;
    color: rgb(211, 224, 92);
    /* Niebieski pasek z boku */
}

.music-box.pz-deluxe ::-webkit-scrollbar-thumb {
    background: #13c489;
    border-radius: 0.15vw #08583e;
}

.music-box.pz-deluxe * {
    scrollbar-color: #13c489 #08583e;
}

.music-box.pz-deluxe *::-webkit-scrollbar-track {
    background: #08583e;
}

.music-box.pz-deluxe *::-webkit-scrollbar-thumb {
    background: #13c489;
    border-radius: 0.15vw #08583e;
}

.music-box.pz-deluxe #progress::-webkit-slider-thumb {
    background: #13c489;
    border: 2px solid #08583e;
    border-radius: 50%;
}

.music-box.pz-deluxe #progress {
    background: #08553d;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-deluxe .controls button {
    color: white;
}


/* ================= KOLORYSTKA DLA UTWORÓW ARKTYCZNYCH ================= */

.music-box.pz-arctic-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-arctic-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-arctic-pack .album-title,
[data-game-version="pz2"] .music-box.pz-arctic-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-arctic-pack .track-info,
[data-game-version="pz2"] .music-box.pz-arctic-pack .tekst,
[data-game-version="pz2"] .music-box.pz-arctic-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-arctic-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-arctic-pack {
    background: linear-gradient(#1b97b1, #106383) !important;
}

.music-box.pz-arctic-pack .overlay-panel {
    background: linear-gradient(#1b97b1, #106383) !important;
}

.music-box.pz-arctic-pack #album-list li.active,
.music-box.pz-arctic-pack #track-list li.active .author,
.music-box.pz-arctic-pack #track-list li.active .duration {
    color: #30d7f9;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-arctic-pack #track-list li.active .title {
    color: #30d7f9;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-arctic-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #2ac9e8 0%, #23b6d3 50%, #23b6d3 50%, #1b97b1 100%);
}

.music-box.pz-arctic-pack #progress::-moz-range-track {
    background: #177286;
}

.music-box.pz-arctic-pack #progress::-moz-range-progress {
    background-color: #23b6d3;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-arctic-pack #track-list li.active,
.music-box.pz-arctic-pack #album-list li.active {
    background-color: #1b97b1;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #06b6d4;
    /* Niebieski pasek z boku */
}

.music-box.pz-arctic-pack ::-webkit-scrollbar-thumb {
    background: #25bcde;
    border-radius: 0.15vw #0b5b7b;
}

.music-box.pz-arctic-pack * {
    scrollbar-color: #25bcde #0d4f69;
}

.music-box.pz-arctic-pack *::-webkit-scrollbar-track {
    background: #0d4f69;
}

.music-box.pz-arctic-pack *::-webkit-scrollbar-thumb {
    background: #25bcde;
    border-radius: 0.15vw #0b5b7b;
}

.music-box.pz-arctic-pack #progress::-webkit-slider-thumb {
    background: #22d3ee;
    border: 2px solid #1b9aad;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-arctic-pack .controls button {
    color: #22d3ee;
}


/* ================= KOLORYSTKA DLA UTWORÓW AMERYKI POŁUDNIOWEJ ================= */

.music-box.pz-south-america-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-south-america-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-south-america-pack .album-title,
[data-game-version="pz2"] .music-box.pz-south-america-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-south-america-pack .track-info,
[data-game-version="pz2"] .music-box.pz-south-america-pack .tekst,
[data-game-version="pz2"] .music-box.pz-south-america-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-south-america-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-south-america-pack {
    background: linear-gradient(#94c62a, #0e7b0f) !important;
}

.music-box.pz-south-america-pack .overlay-panel {
    background: linear-gradient(#94c62a, #0e7b0f) !important;
}

.music-box.pz-south-america-pack #album-list li.active,
.music-box.pz-south-america-pack #track-list li.active .author,
.music-box.pz-south-america-pack #track-list li.active .duration {
    color: #c6ff4b;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-south-america-pack #track-list li.active .title {
    color: #c6ff4b;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-south-america-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #b5ef38 0%, #94c62a 50%, #94c62a 50%, #7ca622 100%);
}

.music-box.pz-south-america-pack #progress::-moz-range-track {
    background: #94c62a;
}

.music-box.pz-south-america-pack #progress::-moz-range-progress {
    background-color: #94c62a;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-south-america-pack #track-list li.active,
.music-box.pz-south-america-pack #album-list li.active {
    background-color: #94c62a;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #a9e12f;
    /* Niebieski pasek z boku */
}

.music-box.pz-south-america-pack ::-webkit-scrollbar-thumb {
    background: #45c712;
    border-radius: 0.15vw #2d820b;
}

.music-box.pz-south-america-pack * {
    scrollbar-color: #45c712 #2d820b;
}

.music-box.pz-south-america-pack *::-webkit-scrollbar-track {
    background: #236509;
}

.music-box.pz-south-america-pack *::-webkit-scrollbar-thumb {
    background: #45c712;
    border-radius: 0.15vw #2d820b;
}

.music-box.pz-south-america-pack #progress::-webkit-slider-thumb {
    background: #a9e12f;
    border: 2px solid #94c62a;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-south-america-pack .controls button {
    color: #a9e12f;
}


/* ================= KOLORYSTKA DLA UTWORÓW AUSTRALII ================= */

.music-box.pz-australia-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-australia-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-australia-pack .album-title,
[data-game-version="pz2"] .music-box.pz-australia-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-australia-pack .track-info,
[data-game-version="pz2"] .music-box.pz-australia-pack .tekst,
[data-game-version="pz2"] .music-box.pz-australia-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-australia-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-australia-pack {
    background: linear-gradient(#f9b500, #e4640e) !important;
}

.music-box.pz-australia-pack .overlay-panel {
    background: linear-gradient(#f9b500, #e4640e) !important;
}

.music-box.pz-australia-pack #album-list li.active,
.music-box.pz-australia-pack #track-list li.active .author,
.music-box.pz-australia-pack #track-list li.active .duration {
    color: #ffd562;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-australia-pack #track-list li.active .title {
    color: #ffd562;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-australia-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ffbe0b 0%, #f9b500 50%, #f9b500 50%, #ffa72c 100%);
}

.music-box.pz-australia-pack #progress::-moz-range-track {
    background: #f9b500;
}

.music-box.pz-australia-pack #progress::-moz-range-progress {
    background-color: #f9b500;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-australia-pack #track-list li.active,
.music-box.pz-australia-pack #album-list li.active {
    background-color: #ffa72c;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #e4640e;
    /* Niebieski pasek z boku */
}

.music-box.pz-australia-pack ::-webkit-scrollbar-thumb {
    background: #f9b500;
    border-radius: 0.15vw #e4640e;
}

.music-box.pz-australia-pack * {
    scrollbar-color: #f9b500 #c67d17;
}

.music-box.pz-australia-pack *::-webkit-scrollbar-track {
    background: #e4640e;
}

.music-box.pz-australia-pack *::-webkit-scrollbar-thumb {
    background: #f9b500;
    border-radius: 0.15vw #e4640e;
}

.music-box.pz-australia-pack #progress::-webkit-slider-thumb {
    background: #f9b500;
    border: 2px solid #e4640e;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-australia-pack .controls button {
    color: #f9b500;
}


/* ================= KOLORYSTKA DLA UTWORÓW WODNYCH ================= */

.music-box.pz-aquatic-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-aquatic-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-aquatic-pack .album-title,
[data-game-version="pz2"] .music-box.pz-aquatic-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-aquatic-pack .track-info,
[data-game-version="pz2"] .music-box.pz-aquatic-pack .tekst,
[data-game-version="pz2"] .music-box.pz-aquatic-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-aquatic-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-aquatic-pack {
    background: linear-gradient(#5ca9aa, #007379) !important;
}

.music-box.pz-aquatic-pack .overlay-panel {
    background: linear-gradient(#5ca9aa, #007379) !important;
}

.music-box.pz-aquatic-pack #album-list li.active,
.music-box.pz-aquatic-pack #track-list li.active .author,
.music-box.pz-aquatic-pack #track-list li.active .duration {
    color: #70ced0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-aquatic-pack #track-list li.active .title {
    color: #70ced0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-aquatic-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #71cdce 0%, #5ca9aa 50%, #5ca9aa 50%, #559c9d 100%);
}

.music-box.pz-aquatic-pack #progress::-moz-range-track {
    background: #5ca9aa;
}

.music-box.pz-aquatic-pack #progress::-moz-range-progress {
    background-color: #5ca9aa;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-aquatic-pack #track-list li.active,
.music-box.pz-aquatic-pack #album-list li.active {
    background-color: #519697;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #007379;
    /* Niebieski pasek z boku */
}

.music-box.pz-aquatic-pack ::-webkit-scrollbar-thumb {
    background: #5ca9aa;
    border-radius: 0.15vw #007379;
}

.music-box.pz-aquatic-pack * {
    scrollbar-color: #5ca9aa #3f7576;
}

.music-box.pz-aquatic-pack *::-webkit-scrollbar-track {
    background: #007379;
}

.music-box.pz-aquatic-pack *::-webkit-scrollbar-thumb {
    background: #5ca9aa;
    border-radius: 0.15vw #007379;
}

.music-box.pz-aquatic-pack #progress::-webkit-slider-thumb {
    background: #5ca9aa;
    border: 2px solid #007379;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-aquatic-pack .controls button {
    color: #71cdce;
}


/* ================= KOLORYSTKA DLA UTWORÓW AZJI POŁUDNIOWO-WSCHODNIEJ ================= */

.music-box.pz-southeast-asia-animal-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-southeast-asia-animal-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack .album-title,
[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack .track-info,
[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack .tekst,
[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-southeast-asia-animal-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-southeast-asia-animal-pack {
    background: linear-gradient(#8d708a, #482c43) !important;
}

.music-box.pz-southeast-asia-animal-pack .overlay-panel {
    background: linear-gradient(#8d708a, #482c43) !important;
}

.music-box.pz-southeast-asia-animal-pack #album-list li.active,
.music-box.pz-southeast-asia-animal-pack #track-list li.active .author,
.music-box.pz-southeast-asia-animal-pack #track-list li.active .duration {
    color: #b791b4;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-southeast-asia-animal-pack #track-list li.active .title {
    color: #b791b4;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-southeast-asia-animal-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #aa87a7 0%, #8d708a 50%, #8d708a 50%, #735c71 100%);
}

.music-box.pz-southeast-asia-animal-pack #progress::-moz-range-track {
    background: #8d708a;
}

.music-box.pz-southeast-asia-animal-pack #progress::-moz-range-progress {
    background-color: #8d708a;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-southeast-asia-animal-pack #track-list li.active,
.music-box.pz-southeast-asia-animal-pack #album-list li.active {
    background-color: #7a5f77;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #482c43;
    /* Niebieski pasek z boku */
}

.music-box.pz-southeast-asia-animal-pack ::-webkit-scrollbar-thumb {
    background: #8d708a;
    border-radius: 0.15vw #482c43;
}

.music-box.pz-southeast-asia-animal-pack * {
    scrollbar-color: #8d708a #6c536a;
}

.music-box.pz-southeast-asia-animal-pack *::-webkit-scrollbar-track {
    background: #482c43;
}

.music-box.pz-southeast-asia-animal-pack *::-webkit-scrollbar-thumb {
    background: #8d708a;
    border-radius: 0.15vw #482c43;
}

.music-box.pz-southeast-asia-animal-pack #progress::-webkit-slider-thumb {
    background: #8d708a;
    border: 2px solid #482c43;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-southeast-asia-animal-pack .controls button {
    color: #aa87a7;
}


/* ================= KOLORYSTKA DLA UTWORÓW AFRYKI ================= */

.music-box.pz-africa-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-africa-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-africa-pack .album-title,
[data-game-version="pz2"] .music-box.pz-africa-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-africa-pack .track-info,
[data-game-version="pz2"] .music-box.pz-africa-pack .tekst,
[data-game-version="pz2"] .music-box.pz-africa-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-africa-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-africa-pack {
    background: linear-gradient(#d03f16, #8b1612) !important;
}

.music-box.pz-africa-pack .overlay-panel {
    background: linear-gradient(#d03f16, #8b1612) !important;
}

.music-box.pz-africa-pack #album-list li.active,
.music-box.pz-africa-pack #track-list li.active .author,
.music-box.pz-africa-pack #track-list li.active .duration {
    color: #fa5e32;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-africa-pack #track-list li.active .title {
    color: #fa5e32;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-africa-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #e94a1f 0%, #d03f16 50%, #d03f16 50%, #b93712 100%);
}

.music-box.pz-africa-pack #progress::-moz-range-track {
    background: #d03f16;
}

.music-box.pz-africa-pack #progress::-moz-range-progress {
    background-color: #d03f16;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-africa-pack #track-list li.active,
.music-box.pz-africa-pack #album-list li.active {
    background-color: #bc3814;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #8b1612;
    /* Niebieski pasek z boku */
}

.music-box.pz-africa-pack ::-webkit-scrollbar-thumb {
    background: #d03f16;
    border-radius: 0.15vw #8b1612;
}

.music-box.pz-africa-pack * {
    scrollbar-color: #d03f16 #89280d;
}

.music-box.pz-africa-pack *::-webkit-scrollbar-track {
    background: #8b1612;
}

.music-box.pz-africa-pack *::-webkit-scrollbar-thumb {
    background: #d03f16;
    border-radius: 0.15vw #8b1612;
}

.music-box.pz-africa-pack #progress::-webkit-slider-thumb {
    background: #d03f16;
    border: 2px solid #8b1612;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-africa-pack .controls button {
    color: #e94a1f;
}


/* ================= KOLORYSTKA DLA UTWORÓW AMERYKI PÓŁNOCNEJ ================= */

.music-box.pz-north-america-animal-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-north-america-animal-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-north-america-animal-pack .album-title,
[data-game-version="pz2"] .music-box.pz-north-america-animal-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-north-america-animal-pack .track-info,
[data-game-version="pz2"] .music-box.pz-north-america-animal-pack .tekst,
[data-game-version="pz2"] .music-box.pz-north-america-animal-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-north-america-animal-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-north-america-animal-pack {
    background: linear-gradient(#fbd132, #ae880d) !important;
}

.music-box.pz-north-america-animal-pack .overlay-panel {
    background: linear-gradient(#fbd132, #ae880d) !important;
}

.music-box.pz-north-america-animal-pack #album-list li.active,
.music-box.pz-north-america-animal-pack #track-list li.active .author,
.music-box.pz-north-america-animal-pack #track-list li.active .duration {
    color: #ffe68d;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-north-america-animal-pack #track-list li.active .title {
    color: #ffe68d;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-north-america-animal-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ffd745 0%, #fbd132 50%, #fbd132 50%, #e4ba21 100%);
}

.music-box.pz-north-america-animal-pack #progress::-moz-range-track {
    background: #fbd132;
}

.music-box.pz-north-america-animal-pack #progress::-moz-range-progress {
    background-color: #fbd132;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-north-america-animal-pack #track-list li.active,
.music-box.pz-north-america-animal-pack #album-list li.active {
    background-color: #e2bb2c;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #ae880d;
    /* Niebieski pasek z boku */
}

.music-box.pz-north-america-animal-pack ::-webkit-scrollbar-thumb {
    background: #fbd132;
    border-radius: 0.15vw #ae880d;
}

.music-box.pz-north-america-animal-pack * {
    scrollbar-color: #fbd132 #b99924;
}

.music-box.pz-north-america-animal-pack *::-webkit-scrollbar-track {
    background: #ae880d;
}

.music-box.pz-north-america-animal-pack *::-webkit-scrollbar-thumb {
    background: #fbd132;
    border-radius: 0.15vw #ae880d;
}

.music-box.pz-north-america-animal-pack #progress::-webkit-slider-thumb {
    background: #fbd132;
    border: 2px solid #ae880d;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-north-america-animal-pack .controls button {
    color: #ffd745;
}


/* ================= KOLORYSTKA DLA UTWORÓW EUROPY ================= */

.music-box.pz-europe-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-europe-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-europe-pack .album-title,
[data-game-version="pz2"] .music-box.pz-europe-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-europe-pack .track-info,
[data-game-version="pz2"] .music-box.pz-europe-pack .tekst,
[data-game-version="pz2"] .music-box.pz-europe-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-europe-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-europe-pack {
    background: linear-gradient(#015f89, #102941) !important;
}

.music-box.pz-europe-pack .overlay-panel {
    background: linear-gradient(#015f89, #102941) !important;
}

.music-box.pz-europe-pack #album-list li.active,
.music-box.pz-europe-pack #track-list li.active .author,
.music-box.pz-europe-pack #track-list li.active .duration {
    color: #0899dc;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-europe-pack #track-list li.active .title {
    color: #0899dc;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-europe-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #0173a8 0%, #015f89 50%, #015f89 50%, #014c6f 100%);
}

.music-box.pz-europe-pack #progress::-moz-range-track {
    background: #015f89;
}

.music-box.pz-europe-pack #progress::-moz-range-progress {
    background-color: #015f89;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-europe-pack #track-list li.active,
.music-box.pz-europe-pack #album-list li.active {
    background-color: #02608b;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #102941;
    /* Niebieski pasek z boku */
}

.music-box.pz-europe-pack ::-webkit-scrollbar-thumb {
    background: #015f89;
    border-radius: 0.15vw #102941;
}

.music-box.pz-europe-pack * {
    scrollbar-color: #015f89 #003954;
}

.music-box.pz-europe-pack *::-webkit-scrollbar-track {
    background: #102941;
}

.music-box.pz-europe-pack *::-webkit-scrollbar-thumb {
    background: #015f89;
    border-radius: 0.15vw #102941;
}

.music-box.pz-europe-pack #progress::-webkit-slider-thumb {
    background: #015f89;
    border: 2px solid #102941;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-europe-pack .controls button {
    color: #0484bf;
}


/* ================= KOLORYSTKA DLA UTWORÓW OCHRONY PRZYRODY ================= */

.music-box.pz-conservation-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-conservation-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-conservation-pack .album-title,
[data-game-version="pz2"] .music-box.pz-conservation-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-conservation-pack .track-info,
[data-game-version="pz2"] .music-box.pz-conservation-pack .tekst,
[data-game-version="pz2"] .music-box.pz-conservation-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-conservation-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-conservation-pack {
    background: linear-gradient(#867567, #4f3a2f) !important;
}

.music-box.pz-conservation-pack .overlay-panel {
    background: linear-gradient(#867567, #4f3a2f) !important;
}

.music-box.pz-conservation-pack #album-list li.active,
.music-box.pz-conservation-pack #track-list li.active .author,
.music-box.pz-conservation-pack #track-list li.active .duration {
    color: #c2aa96;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-conservation-pack #track-list li.active .title {
    color: #c2aa96;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-conservation-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #988576 0%, #867567 50%, #867567 50%, #6d6055 100%);
}

.music-box.pz-conservation-pack #progress::-moz-range-track {
    background: #867567;
}

.music-box.pz-conservation-pack #progress::-moz-range-progress {
    background-color: #867567;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-conservation-pack #track-list li.active,
.music-box.pz-conservation-pack #album-list li.active {
    background-color: #78675a;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #4f3a2f;
    /* Niebieski pasek z boku */
}

.music-box.pz-conservation-pack ::-webkit-scrollbar-thumb {
    background: #867567;
    border-radius: 0.15vw #4f3a2f;
}

.music-box.pz-conservation-pack * {
    scrollbar-color: #867567 #766659;
}

.music-box.pz-conservation-pack *::-webkit-scrollbar-track {
    background: #4f3a2f;
}

.music-box.pz-conservation-pack *::-webkit-scrollbar-thumb {
    background: #867567;
    border-radius: 0.15vw #4f3a2f;
}

.music-box.pz-conservation-pack #progress::-webkit-slider-thumb {
    background: #867567;
    border: 2px solid #4f3a2f;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-conservation-pack .controls button {
    color: #988576;
}


/* ================= KOLORYSTKA DLA UTWORÓW ZMIERZCHU ================= */

.music-box.pz-twilight-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-twilight-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-twilight-pack .album-title,
[data-game-version="pz2"] .music-box.pz-twilight-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-twilight-pack .track-info,
[data-game-version="pz2"] .music-box.pz-twilight-pack .tekst,
[data-game-version="pz2"] .music-box.pz-twilight-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-twilight-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-twilight-pack {
    background: linear-gradient(#5a202f, #200e16) !important;
}

.music-box.pz-twilight-pack .overlay-panel {
    background: linear-gradient(#5a202f, #200e16) !important;
}

.music-box.pz-twilight-pack #album-list li.active,
.music-box.pz-twilight-pack #track-list li.active .author,
.music-box.pz-twilight-pack #track-list li.active .duration {
    color: #c04465;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-twilight-pack #track-list li.active .title {
    color: #c04465;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-twilight-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #762a3e 0%, #5a202f 50%, #5a202f 50%, #441824 100%);
}

.music-box.pz-twilight-pack #progress::-moz-range-track {
    background: #5a202f;
}

.music-box.pz-twilight-pack #progress::-moz-range-progress {
    background-color: #5a202f;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-twilight-pack #track-list li.active,
.music-box.pz-twilight-pack #album-list li.active {
    background-color: #5c2130;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #200e16;
    /* Niebieski pasek z boku */
}

.music-box.pz-twilight-pack ::-webkit-scrollbar-thumb {
    background: #5a202f;
    border-radius: 0.15vw #200e16;
}

.music-box.pz-twilight-pack * {
    scrollbar-color: #5a202f #3f1621;
}

.music-box.pz-twilight-pack *::-webkit-scrollbar-track {
    background: #200e16;
}

.music-box.pz-twilight-pack *::-webkit-scrollbar-thumb {
    background: #5a202f;
    border-radius: 0.15vw #200e16;
}

.music-box.pz-twilight-pack #progress::-webkit-slider-thumb {
    background: #5a202f;
    border: 2px solid #200e16;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-twilight-pack .controls button {
    color: #993751;
}


/* ================= KOLORYSTKA DLA UTWORÓW STEPÓW ================= */

.music-box.pz-grasslands-animal-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-grasslands-animal-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack .album-title,
[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack .track-info,
[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack .tekst,
[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-grasslands-animal-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-grasslands-animal-pack {
    background: linear-gradient(#ef8983, #a13f45) !important;
}

.music-box.pz-grasslands-animal-pack .overlay-panel {
    background: linear-gradient(#ef8983, #a13f45) !important;
}

.music-box.pz-grasslands-animal-pack #album-list li.active,
.music-box.pz-grasslands-animal-pack #track-list li.active .author,
.music-box.pz-grasslands-animal-pack #track-list li.active .duration {
    color: #ffbebb;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-grasslands-animal-pack #track-list li.active .title {
    color: #ffbebb;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-grasslands-animal-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ffa39e 0%, #ef8983 50%, #ef8983 50%, #d07772 100%);
}

.music-box.pz-grasslands-animal-pack #progress::-moz-range-track {
    background: #ef8983;
}

.music-box.pz-grasslands-animal-pack #progress::-moz-range-progress {
    background-color: #ef8983;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-grasslands-animal-pack #track-list li.active,
.music-box.pz-grasslands-animal-pack #album-list li.active {
    background-color: #e58883;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #a13f45;
    /* Niebieski pasek z boku */
}

.music-box.pz-grasslands-animal-pack ::-webkit-scrollbar-thumb {
    background: #ef8983;
    border-radius: 0.15vw #a13f45;
}

.music-box.pz-grasslands-animal-pack * {
    scrollbar-color: #ef8983 #a15855;
}

.music-box.pz-grasslands-animal-pack *::-webkit-scrollbar-track {
    background: #a13f45;
}

.music-box.pz-grasslands-animal-pack *::-webkit-scrollbar-thumb {
    background: #ef8983;
    border-radius: 0.15vw #a13f45;
}

.music-box.pz-grasslands-animal-pack #progress::-webkit-slider-thumb {
    background: #ef8983;
    border: 2px solid #a13f45;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-grasslands-animal-pack .controls button {
    color: #ffbebb;
}


/* ================= KOLORYSTKA DLA UTWORÓW TROPIK ================= */

.music-box.pz-tropical-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-tropical-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-tropical-pack .album-title,
[data-game-version="pz2"] .music-box.pz-tropical-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-tropical-pack .track-info,
[data-game-version="pz2"] .music-box.pz-tropical-pack .tekst,
[data-game-version="pz2"] .music-box.pz-tropical-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-tropical-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-tropical-pack {
    background: linear-gradient(#aba656, #3e421e) !important;
}

.music-box.pz-tropical-pack .overlay-panel {
    background: linear-gradient(#aba656, #3e421e) !important;
}

.music-box.pz-tropical-pack #album-list li.active,
.music-box.pz-tropical-pack #track-list li.active .author,
.music-box.pz-tropical-pack #track-list li.active .duration {
    color: #e9df79;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-tropical-pack #track-list li.active .title {
    color: #e9df79;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-tropical-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #c3bc62 0%, #aba656 50%, #aba656 50%, #8d8847 100%);
}

.music-box.pz-tropical-pack #progress::-moz-range-track {
    background: #aba656;
}

.music-box.pz-tropical-pack #progress::-moz-range-progress {
    background-color: #aba656;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-tropical-pack #track-list li.active,
.music-box.pz-tropical-pack #album-list li.active {
    background-color: #b6b05b;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #3e421e;
    /* Niebieski pasek z boku */
}

.music-box.pz-tropical-pack ::-webkit-scrollbar-thumb {
    background: #aba656;
    border-radius: 0.15vw #3e421e;
}

.music-box.pz-tropical-pack * {
    scrollbar-color: #aba656 #706d38;
}

.music-box.pz-tropical-pack *::-webkit-scrollbar-track {
    background: #3e421e;
}

.music-box.pz-tropical-pack *::-webkit-scrollbar-thumb {
    background: #aba656;
    border-radius: 0.15vw #3e421e;
}

.music-box.pz-tropical-pack #progress::-webkit-slider-thumb {
    background: #aba656;
    border: 2px solid #3e421e;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-tropical-pack .controls button {
    color: #dbd371;
}


/* ================= KOLORYSTKA DLA UTWORÓW KLIMATU SUCHEGO ================= */

.music-box.pz-arid-animal-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-arid-animal-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-arid-animal-pack .album-title,
[data-game-version="pz2"] .music-box.pz-arid-animal-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-arid-animal-pack .track-info,
[data-game-version="pz2"] .music-box.pz-arid-animal-pack .tekst,
[data-game-version="pz2"] .music-box.pz-arid-animal-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-arid-animal-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-arid-animal-pack {
    background: linear-gradient(#edc38c, #986e49) !important;
}

.music-box.pz-arid-animal-pack .overlay-panel {
    background: linear-gradient(#edc38c, #986e49) !important;
}

.music-box.pz-arid-animal-pack #album-list li.active,
.music-box.pz-arid-animal-pack #track-list li.active .author,
.music-box.pz-arid-animal-pack #track-list li.active .duration {
    color: #ffdcae;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-arid-animal-pack #track-list li.active .title {
    color: #ffdcae;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-arid-animal-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ffd59e 0%, #edc38c 50%, #edc38c 50%, #d4af7d 100%);
}

.music-box.pz-arid-animal-pack #progress::-moz-range-track {
    background: #edc38c;
}

.music-box.pz-arid-animal-pack #progress::-moz-range-progress {
    background-color: #edc38c;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-arid-animal-pack #track-list li.active,
.music-box.pz-arid-animal-pack #album-list li.active {
    background-color: #e2bc8a;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #986e49;
    /* Niebieski pasek z boku */
}

.music-box.pz-arid-animal-pack ::-webkit-scrollbar-thumb {
    background: #edc38c;
    border-radius: 0.15vw #986e49;
}

.music-box.pz-arid-animal-pack * {
    scrollbar-color: #edc38c #9f815a;
}

.music-box.pz-arid-animal-pack *::-webkit-scrollbar-track {
    background: #986e49;
}

.music-box.pz-arid-animal-pack *::-webkit-scrollbar-thumb {
    background: #edc38c;
    border-radius: 0.15vw #986e49;
}

.music-box.pz-arid-animal-pack #progress::-webkit-slider-thumb {
    background: #edc38c;
    border: 2px solid #986e49;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-arid-animal-pack .controls button {
    color: #ffd9a6;
}


/* ================= KOLORYSTKA DLA UTWORÓW OCEANII ================= */

.music-box.pz-oceania-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-oceania-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-oceania-pack .album-title,
[data-game-version="pz2"] .music-box.pz-oceania-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-oceania-pack .track-info,
[data-game-version="pz2"] .music-box.pz-oceania-pack .tekst,
[data-game-version="pz2"] .music-box.pz-oceania-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-oceania-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-oceania-pack {
    background: linear-gradient(#d683a7, #9a3e76) !important;
}

.music-box.pz-oceania-pack .overlay-panel {
    background: linear-gradient(#d683a7, #9a3e76) !important;
}

.music-box.pz-oceania-pack #album-list li.active,
.music-box.pz-oceania-pack #track-list li.active .author,
.music-box.pz-oceania-pack #track-list li.active .duration {
    color: #ffacd0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-oceania-pack #track-list li.active .title {
    color: #ffacd0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-oceania-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ea93b9 0%, #d683a7 50%, #d683a7 50%, #c07294 100%);
}

.music-box.pz-oceania-pack #progress::-moz-range-track {
    background: #d683a7;
}

.music-box.pz-oceania-pack #progress::-moz-range-progress {
    background-color: #d683a7;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-oceania-pack #track-list li.active,
.music-box.pz-oceania-pack #album-list li.active {
    background-color: #d684a7;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #9a3e76;
    /* Niebieski pasek z boku */
}

.music-box.pz-oceania-pack ::-webkit-scrollbar-thumb {
    background: #d683a7;
    border-radius: 0.15vw #9a3e76;
}

.music-box.pz-oceania-pack * {
    scrollbar-color: #d683a7 #8e4d6a;
}

.music-box.pz-oceania-pack *::-webkit-scrollbar-track {
    background: #9a3e76;
}

.music-box.pz-oceania-pack *::-webkit-scrollbar-thumb {
    background: #d683a7;
    border-radius: 0.15vw #9a3e76;
}

.music-box.pz-oceania-pack #progress::-webkit-slider-thumb {
    background: #d683a7;
    border: 2px solid #9a3e76;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-oceania-pack .controls button {
    color: #f59dc3;
}


/* ================= KOLORYSTKA DLA UTWORÓW EURAZJI ================= */

.music-box.pz-eurasia-animal-pack #album-dlc-btn img {
    filter: none !important;
}


/* Kiedy aktywne jest pz-eurasia-animal-pack, zmień kolor tytułu albumu na błękitny */

[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack .album-title,
[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack .version-modal-close,
[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack .track-info,
[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack .tekst,
[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack #albums-panel,
[data-game-version="pz2"] .music-box.pz-eurasia-animal-pack #tracks-panel {
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}

.music-box.pz-eurasia-animal-pack {
    background: linear-gradient(#5d6d75, #323c40) !important;
}

.music-box.pz-eurasia-animal-pack .overlay-panel {
    background: linear-gradient(#5d6d75, #323c40) !important;
}

.music-box.pz-eurasia-animal-pack #album-list li.active,
.music-box.pz-eurasia-animal-pack #track-list li.active .author,
.music-box.pz-eurasia-animal-pack #track-list li.active .duration {
    color: #98aeb7;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-eurasia-animal-pack #track-list li.active .title {
    color: #98aeb7;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.music-box.pz-eurasia-animal-pack #progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #70838c 0%, #5d6d75 50%, #5d6d75 50%, #48555b 100%);
}

.music-box.pz-eurasia-animal-pack #progress::-moz-range-track {
    background: #5d6d75;
}

.music-box.pz-eurasia-animal-pack #progress::-moz-range-progress {
    background-color: #5d6d75;
}


/* Niebieski akcent dla aktywnego utworu na liście */

.music-box.pz-eurasia-animal-pack #track-list li.active,
.music-box.pz-eurasia-animal-pack #album-list li.active {
    background-color: #6b7c85;
    /* Ciemnoniebieskie półprzezroczyste tło */
    border-left: 3px solid #323c40;
    /* Niebieski pasek z boku */
}

.music-box.pz-eurasia-animal-pack ::-webkit-scrollbar-thumb {
    background: #5d6d75;
    border-radius: 0.15vw #323c40;
}

.music-box.pz-eurasia-animal-pack * {
    scrollbar-color: #5d6d75 #3a4449;
}

.music-box.pz-eurasia-animal-pack *::-webkit-scrollbar-track {
    background: #323c40;
}

.music-box.pz-eurasia-animal-pack *::-webkit-scrollbar-thumb {
    background: #5d6d75;
    border-radius: 0.15vw #323c40;
}

.music-box.pz-eurasia-animal-pack #progress::-webkit-slider-thumb {
    background: #5d6d75;
    border: 2px solid #323c40;
    border-radius: 50%;
}


/* Kolory przycisków sterowania w trybie arktycznym */

.music-box.pz-eurasia-animal-pack .controls button {
    color: #82959d;
}